<div class="row">
    <div class="col-lg-12">
        <h2>Your Games</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Game name</th>
                    <th>Turn</th>
                    <th>Your turn</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="yourGames !== 'false'" ng-repeat="yourGame in yourGames">
                    <td>{{yourGame.name}}</td>
                    <td>{{yourGame.turn}}</td>
                    <td>{{yourGmae.playerTurn}}</td>
                    <td><button class="btn btn-primary" href="#/playerDash/{{yourGame.id}}">Go to Game</button></td>
                </tr>
                <tr ng-if="yourGames === 'false'">
                    <td>You are not part of any games</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Game name</th>
                    <th>Turn</th>
                    <th>Your turn</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="yourGame in allGames">
                    <td>{{yourGame.name}}</td>
                    <td>{{yourGame.turn}}</td>
                    <td>{{yourGmae.playerTurn}}</td>
                    <td><a href="/#/playerDash/{{yourGame.game_id}}"><button class="btn btn-primary" >Go to Game</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
