<div class="game">
    <div class="row">
        <div class="col-lg-6">
            <h2>{{players.title}} Turn:{{players.turn}}</h2>
            <h4>It's {{players.currentPlayerTurn}}'s turn</h4>
            <h4>Current Balance {{players.balance | currency}}</h4>
            <p><strong>Current Space:</strong> {{players.currentSpace}}</p>
            <p><strong>Available Actions:</strong> stuff</p>
            <p><strong>My Properties:</strong> None</p>
            <div class="slide" ng-repeat="property in slides | orderBy:'-'">
                <div class="color-bar" ng-if="property.color" style="background-color:{{property.color}}">
                    <div class="house" ng-if="!property.hotel" ng-repeat="house in property.houseArray"></div>
                    <div class="hotel" ng-if="property.hotel" ></div>
                </div>
                <p class="icon" style="font-family:FontAwesome">{{property.icon}}</p>
                <p class="title">{{property.name}}</p>
            </div>
        </div>
        <div class="col-lg-6">
            <board size="400"></board>
        </div>
    </div>
</div>
